[Unit]
Description=tv-control server
After=network.target

[Service]
Type=simple
User=bastibuck
WorkingDirectory=/home/bastibuck/dev/tv-control
ExecStart=/usr/bin/env pnpm start
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
