[Unit]
Description=tv-control server
After=network.target

[Service]
Type=simple
User=bastibuck
WorkingDirectory=/home/bastibuck/dev/tv-control
ExecStart=/home/bastibuck/.volta/bin/node apps/server/dist/index.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=WAYLAND_DISPLAY=wayland-0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=multi-user.target
